
/* 
li.tableLi {
text-align:center;
box-shadow: 5px 5px gray;
border: 0.5px solid black;
padding: .5em;
height: 400px;
width: 200px;
margin-left: auto;
margin-right: auto;
align-items: center;
margin-top: 200px;
border-radius: 5px;
animation: fadeIn 1s;
}

li.tableLi:hover {
border: 0.2rem solid #96C5f7;
border-radius: 10px;
}

@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

ul {
    flex-wrap: wrap;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

button.selectTier{
background-color: orange; 
box-shadow: 1px 2px gray;
border: 0.5px solid black;
border-radius: 5px;
color: black;
padding: 10px 20px;
text-align: center;
font-size: 16px;
margin-top: 240px;
}

button.selectTier:hover{
border: 0.2rem solid transparent;
border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
}

h1{
text-align: center;
font-size: 20px;
} */
