body {
  background-color: #fff;
  background-image: linear-gradient(to bottom right, #fff, #ccc);
  font-family: "Gill Sans", sans-serif;
  color: #555;
  padding-top: 25px;
  padding-left: 25px;
  min-height: 100vh;
}
